@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* 초기 설정 */
caption{display: none;}
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto sans KR',  sans-serif;
    color: #111;

}
html,body{
    overflow-x: hidden;
}
img {
    vertical-align: top;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}
.row {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}


/* 초기 설정 */