.card-wrap{
    position: fixed;
    top: 150px;
    right: 150px;
    z-index: 9999;
}
.card{
   position: relative;
    width: 300px;
    height: 460px;
    border: 2px solid #ddd;
    border-radius: 20px;
    z-index: 10;
    background-color: rgba(255,255,255,1);
    animation: opacity 2s 1s both;
    padding: 20px;
    word-break: keep-all
}
.card p.skill{
    display: none;
}
.card.card-active p{
    display: none;
}
.card.card-active p.skill{
    display: block;
}
.Pic-wrap{
    width: 100%;
    z-index: 10;
}
.Pic-wrap img{
    display: block;
    max-width: 300px;
}
.card p{
    margin-top: 30px;
    text-align: center;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
         transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
  }