#project .swiper-slide{
    border: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    
}
#project .img-wrap{
    max-width: 500px;
    margin: 0 auto;
}
#project .img-wrap img{
    display: block;
    max-width: 100%;
    height: auto;
  
}
#project .swiper_btn_wrap{
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 120px;
    height: var(--swiper-navigation-size); 
}
.swiper-button-prev, .swiper-button-next{
    color: #111;
}
#project .swiper-pagination-bullets-dynamic{
    bottom: 32px;
}
#project .swiper-pagination-bullet-active{
    background: #111;
}
#project .swiper_btn_wrap::after{
    content: "";
    width: 1px;
    height: var(--swiper-navigation-size); 
    background-color: #111;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#project .txt-wrap{
    padding: 15px;
    border-top: 1px solid #ddd;
}
#project .txt-wrap .project_title{
    font-size: 22px;
    color: #808d2a;
}
#project .txt-wrap .txt_type{
    font-size: 16px;
    color: #7c7c7c;
}
#project .txt-wrap .txt_detail{
    font-size: 18px;
    word-break: keep-all;
}

#project .txt-wrap .txt_tags span{
    color: #fff;
    background-color: #7c7c7c;
    border-radius: 20px;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 5px;
    font-size: 14px;
    margin-top: 10px;
}