# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
 #  // 1. kimco 2. 발명진흥회 3.굿메디 초이스 4. HCT 5. 예술경영지원센터 6.샐러딧 7. 한국벤처캐피탈협회